.content{
    width: 70%;
    float: left;
    padding:0 0 0 5%;
    background: #1c4a32;
    color: white;
}
.sidebar{
    width: 25%;
    float: left;
    padding: 5%;
    background: #aec3d1;
    border: 1px solid black;
    margin-left: 10px;
}
h1{
    text-align: center;
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 10px;
}
body{
    background: #1c4a32;
}
#date,#comm{
    color: yellow;
    font-size: 12px;
    font-style: italic;
}
a{
    color: red;


}
#cf{
    border: aliceblue solid 1px;
    padding: 30px;
}
#ef{
   border: aliceblue solid 1px;
    padding: 25px;
    margin-top: 5%;
}
#fl{
        border: 1px solid grey;
        text-align: center;
        background-color: red;
        color: white;
    }
#pcount{
    font-size: 40px;
    color: yellow;
    font-weight: bold;
}